{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=150px width=150px>
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Cell and Molecular Biology undergraduate student at the University of Texas at 
        Austin.</h3>
        <h3>Have a look at some of the  <a href="{{ .Site.BaseURL }}projects/"> projects</a> I've worked on.</h3>
        <h3>For more, check out my academic &amp; professional <a href="raresume.pdf">resume</a>.</h3>
        <h3>Contact me at ginacarrion@utexas.edu </h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
